name: Android CI

on:
  push:
    branches:
      - development     
      - main
      - Omar

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout del repo
      - uses: actions/checkout@v4

      # 2. JDK para Gradle
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      # 3. Reconstruir el keystore desde el secret Base64
      - name: Decode Keystore
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        run: echo "$KEYSTORE_BASE64" | base64 --decode > android/release-keystore.jks

      # 4. Node para ejecutar npm
      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # 5. Instalar dependencias
      - name: Install dependencies
        run: npm ci

      - name: Make gradlew executable
        working-directory: android
        run: chmod +x gradlew

      - name: Build Release APK
        working-directory: android
        run: ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MiBilleteraU-release-apk
          path: android/app/build/outputs/apk/release/app-release.apk
